<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<% if (messageError) { %>
  <div class="alert alert-warning" role="alert">
    <%=messageError%>
  </div>
<%} else {
  summaries.forEach(summary => { %>
    <%if(profile.id != summary.user.id) {%>
      <div class="card w-75">
        <div class="card-body">
          <p><%= summary.createdAt.getDate() %>/<%= summary.createdAt.getMonth()+1 %>/<%= summary.createdAt.getFullYear() %></p>
          <h5 class="card-title">Livro: <%= summary.book.title %></h5>
          <p>Escritor do resumo: <%=summary.user.fullName%></p>
          <p><%=summary.status%></p>
          <a href="/correcao/resumo/<%=summary.id%>" class="btn btn-primary" type="submit" form="form-autor">Avaliar</a>
        </div>
      </div>
    <%}%>
  <% }) %>
<% } %>
<%- include('partials/footer.ejs') %> 
