<%- include('partials/header.ejs') %> 
<%- include('partials/nav.ejs')  %> 

<div class="container-sm">
  <form class="mb-3" id="form-summary" enctype="application/x-www-form-urlencoded"
  method="POST" action="/resumo/alterar/<%=summary.id%>">
    <h3>Cadastro de Resumo</h3>
      <div class="col-sm-6 row">
        <label for="" class="col-sm-2 col-form-label">Título</label>
        <select class="form-select col-sm-6" aria-label="Default select example" name="refBook">
          <option value="<%= summary.refBook %>" name="refBook"><%= summary.book.title %></option>
        </select>
      </div>
      <div class="col-sm-6 row">
        <label>Status</label>
        <input type="text" class="form-control" minlength="3" name="status" value="<%=summary.status%>" disabled>
      </div>
      <div class="col-sm-10 row">
        <label for="" class="col-sm-2 col-form-label">Autor</label>
        <select class="form-select col-sm-6" aria-label="Default select example" name="refWriter">
          <option value="<%= summary.refWriter %>" name="refWriter"><%= summary.writer.nameWriter %></option>
        </select>
      </div>
      <div class="col-sm-10 row">
        <label for="" class="col-sm-2 col-form-label">Voluntário</label>
        <select class="form-select col-sm-6" aria-label="Default select example" name="refVolunteer">
          <option value="<%= summary.refVolunteer %>" selected><%= summary.user.fullName %></option>
      </select>
      </div>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Resumo</label>
        <div class="col-sm-10">
          <textarea class="form-control" minlength="30" name="body" cols="30" rows="10" ><%= summary.body %></textarea>
        </div>
      </div>
</form>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btnUpdate" type="submit" form="form-summary">Atualizar</button>
    <form class="mb-3" enctype="application/x-www-form-urlencoded"
      method="POST" action="/resumo/excluir">
      <input type="text" value="<%= summary.id %>" name="id" hidden>
      <button class="btn btnCancel" type="submit">Excluir</button>
    </form>
  </div>
</div>

<%- include('partials/footer.ejs') %> 
    