<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<body>
  <div class="container-sm">
    <form class="mb-3" id="form-book" enctype="application/x-www-form-urlencoded"
    method="POST" action="/livro/alterar/<%= book.id %>">
      <h3>Cadastro de Livro</h3>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Título</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" minlenght="3" id="title" name="title" value="<%= book.title %>">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Autor</label>
        <div class="col-sm-10">
          <select class="form-select col-sm-6" aria-label="Default select example" name="refWriter">
            <% writers.forEach((writer) => { %> 
              <option value="<%= writer.idWriter %>"><%= writer.nameWriter %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Gênero</label>
        <div class="col-sm-10">
          <select class="form-select" aria-label="Default select example" name="genre">
              <option selected><%= book.genre %></option>
              <option >Ficção</option>
              <option >Não Ficção</option>
              <option >Ciências Exatas</option>
              <option >Ciência Biológicas</option>
              <option >Ciência Sociais</option>
              <option >Tecnologia</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Link da foto do livro</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" minlenght="3" id="photo_link" name="photo_link" value="<%=book.photo_link%>">
        </div>
      </div>
    </form>
    <%if(profile.level == "Voluntario" || profile.level == "Administrador") {%>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btnUpdate" type="submit" form="form-book">Atualizar</button>
        <form class="mb-3" enctype="application/x-www-form-urlencoded"
          method="POST" action="/livro/excluir">
          <input type="text" value="<%= book.id %>" name="id" hidden>
          <button class="btn btnCancel" type="submit">Excluir</button>
        </form>
      </div>
    <%}%>
  </div>
  
<%- include('partials/footer.ejs') %> 
    