<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 
<h3>Seus Resumos Denunciados</h3>
</br>
<% if (message) {%>
  <div class="alert alert-success" role="alert">
    <%=message%>
  </div>
<% } %>

<% reports.forEach(report => { %>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Data da denúncia: <%= report.createdAt.getDate() %>/<%= report.createdAt.getMonth()+1 %>/<%= report.createdAt.getFullYear() %> %></h5>
      <p class="card-text">
      <p>Denuciante: <%=fullName%></p>
      <p>Email:<%=email%></p>
      <a href="/denuncia/usuario/<%=report.id%>" class="btn btn-primary" type="submit" form="form-autor">Detalhes</a>
    </div>
  </div>
<% }) %>

<%- include('partials/footer.ejs') %> 