<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<% writers.forEach(writers => { %>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title"><%= writers.nameWriter.toUpperCase() %></h5>
      <p class="card-text">
      <p>Cadastrou em:</p>
      <p><%= writers.createdAt.getDate() %>/<%= writers.createdAt.getMonth()+1 %>/<%= writers.createdAt.getFullYear() %></p>
      <a href="/autor/listEscritor/<%= writers.idWriter%>" class="btn btn-primary" type="submit" form="form-autor">Detalhes</a>
    </div>
  </div>
<% }) %>

<%- include('partials/footer.ejs') %> 
