<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<% summaries.forEach(summary => { %>
  <% if(summaries.status == 'Aprovado')%>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Livro: <%= summary.book.title.toUpperCase() %></h5>
      <p class="card-text">
      <p>Nome do voluntário: <%=summary.user.fullName%></p>
      <p>Autor: <%=summary.writer.nameWriter%></p>
      <p>Avaliação: </p>

      <form class="mb-3" id="form-sumario" enctype="application/x-www-form-urlencoded"
        method="POST" action="/usuario/comentario/<%= summary.id%>">
        <input type="text" name="refBook" value="<%= summary.refBook %>" hidden>
        <input type="text" name="refSummary" value="<%= summary.id %>" hidden>
        <button class="btn btn-primary" type="submit" form="form-sumario">Detalhes</a>
      </form>
    </div>
  </div>
<% }) %>

<%- include('partials/footer.ejs') %> 
