<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<h3>Todos os Resumos</h3>
</br>
<% if (message) { %>
  <div class="alert alert-success" role="alert">
    <%=message%>
  </div>
<%}%>
  <% if (messageError) { %>
    <div class="alert alert-warning" role="alert">
      <%=messageError%>
    </div>
  <%} else {%>
  <% summaries.forEach(summary => { %>
    <%if(summary.status == "Aprovado") {%>
      <div class="card w-50">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="card-title">Criado: <%= summary.createdAt.getDate() %>/<%= summary.createdAt.getMonth()+1 %>/<%= summary.createdAt.getFullYear() %></h4>
            </div>
            <div class="col">
              <h5>Livro: <%= summary.book.title %></h5>
            </div>
          </div>
          <p class="card-text">
          <div class="row">
            <div class="col">
              <p>Autor do Livro: <%=summary.writer.nameWriter%></p>
            </div>
            <div class="col">
              <p>Escritor do resumo: <%=summary.user.fullName%></p>
            </div>
          </div>
          <div class="row">
            <div class="col"> 
              <p>Status:<%=summary.status%></p>
            </div>
            <div class="col"> 
              <p>Avaliação:
                <% let result = 0
                   let lengthRate = 0
                  ratings.forEach(listRate=>  {
                    if (listRate.refSummary === summary.id) {
                      result += listRate.ratingStar
                      lengthRate++
                    }
                  })
                if (result == 0) {%>
                  0
                <%}
                else {%><%=(result/lengthRate).toFixed(2)%><%}%>
                </p>
            </div>
          </div>
          <a href="/resumo/<%= summary.id%>" class="btn btn-primary" type="submit" form="form-autor">Detalhes</a>
        </div>
      </div>
      <%}%>
  <% }) %>
<% } %>
<%- include('partials/footer.ejs') %> 
