<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<% users.forEach(user => { %>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title"><%= user.fullName.toUpperCase() %></h5>
      <p class="card-text">
        <p>Cadastrou em:</p>
        <p><%= user.createdAt.getDate() %>/<%= user.createdAt.getMonth()+1 %>/<%= user.createdAt.getFullYear() %></p>
        <a href="/usuario/<%= user.id %>" class="btn btn-primary">Detalhes</a>
    </div>
  </div>
<% }) %>

<%- include('partials/footer.ejs') %> 