<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<%  questions.forEach(question => { %>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Livro: <%= question.book.title.toUpperCase() %></h5>
      <p class="card-text">
      <p>Pergunta: <%= question.question%></h5>
      <p>Resposta: <%=question.answer%></p>
      <a href="/questao/<%= question.id%>" class="btn btn-primary" type="submit" form="form-autor">Detalhes</a>
    </div>
  </div>
<% }) %>

<%- include('partials/footer.ejs') %> 
