<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<% volunteers.forEach(volunteer => { %>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title"><%= volunteer.fullName.toUpperCase() %></h5>
      <p class="card-text">
        <p>Cadastrou em:</p>
        <p><%= volunteer.createdAt.getDate() %>/<%= volunteer.createdAt.getMonth()+1 %>/<%= volunteer.createdAt.getFullYear() %></p>
        <a href="#" class="btn btn-primary">Excluir</a>
    </div>
  </div>
<% }) %>

<%- include('partials/footer.ejs') %> 