<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<% reports.forEach(report => { %>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Data da denúncia: <%= report.createdAt.getDate() %>/<%= report.createdAt.getMonth()+1 %>/<%= report.createdAt.getFullYear() %> %></h5>
      <p class="card-text">
      <p>Denuciante<%=report.user.fullName%></p>
      <p>Email:<%=report.user.email%></p>
      <a href="/resumo/listaResumo/<%=report.refSummary%>" class="btn btn-primary" type="submit" form="form-autor">Detalhes</a>
    </div>
  </div>
<% }) %>

<%- include('partials/footer.ejs') %> 