<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

  <div class="container-sm">
    <form class="mb-3">
      <h3>Cadastro de Livro</h3>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Título</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" min="3" id="title">
        </div>
      </div>
      <div class="col-sm-8">
        <select class="form-select" aria-label="Default select example" name="writer">
          <% writers.forEach((writer) => { %> 
            <option value="<% writer.id %>"><% writer.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Gênero</label>
        <div class="col-sm-10">
          <select class="form-select" aria-label="Default select example" name="genre">
            <% writers.forEach((writer) => { %> 
            <option selected>Ação</option>
            <option value="<%= writer.id %>"><%= writer.name %></option>
          <% }) %>
          </select>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btnProgress" type="button">Cadastrar</button>
        <button class="btn btnUpdate" type="button">Atualizar</button>
        <button class="btn btnCancel" type="button">Cancelar</button>
      </div>
    </form>
  </div>
  
<%- include('partials/footer.ejs') %> 
    