<%- include('partials/header.ejs') %> 
<%- include('partials/nav.ejs')  %> 

<div class="container-sm">
    <h3>Resumo <p><%=book.title%></p></h3>
    <div class="mb-3 row">
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Volunt치rio:</label>
        <div class="col-sm-10">
          <p><%=summary.user.fullName%></p></label>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <h4>Resumo</h4>
      <div class="col-sm-10">
        <p>
          <%=summary.body%>
        </p>
      </div>
    </div>
    <form class="mb-3" id="form-comment" enctype="application/x-www-form-urlencoded"
      method="POST" action="/comentario">
    <div class="mb-3 row">
      <h4>Coment치rio</h4>
      <div class="col-sm-10">
        <input type="text" name="refSummary" value="<%= summary.id %>" hidden>
        <input type="text" name="refVolunteer" value="<%= summary.user.id %>" hidden>
        <textarea class="form-control" minlength="30" cols="30" rows="5" name="commentContent"></textarea>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btnProgress" type="submit" form="form-comment">Comentar</button>
    </div>
  </form>
  <% commentsBySummary.forEach(comment => {%>
  <div class="mb-3 row">
    <h5>Coment치rios</h5>
    <div class="col-sm-10 ">
    <p>Usu치rio: <%= summary.user.fullName %></p>
    <p><%= comment.commentContent %></p>  
    </div>
    <hr>
  <%})%>
  </div>
</div>

<%- include('partials/footer.ejs') %> 
    